<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock Game | Super Fun</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="assets/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -- >
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,400italic,300italic,600italic,700italic,800italic,800' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class = "container wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div class = "profile">
                    <img src="assets/img/profile.png" class = "img-responsive avatar">
                    <h1 id = "name-header">Alvin Man</h1>
                </div>
                <li>
                    <a href="#">My Cash</a>
                </li>
                <li>
                    <a href="#">My Equity</a>
                </li>
                <li>
                    <a href="#">Log Out</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Player <span class = "font-weight-700">Profile</span> | <span>Alvin Man</span></h2>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel background-picture">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="huge">Current Cash</div>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <div class="huge text-green">$1293.21</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Current Holdings</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>BOND</td>
                                                <td>100</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Recent Transacation</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Stock</th>
                                                <th>Trans</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                 <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                               <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>Alvin Man</td>
                                                <td>BOND</td>
                                                <td>BUY</td>
                                                <td>100</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        <!-- Page Content -->
    
        <!-- /#stocks-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="assets/js/plugins/morris/raphael.min.js"></script>
    <script src="assets/js/plugins/morris/morris.min.js"></script>
    <script src="assets/js/plugins/morris/morris-data.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
